﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="~/dist/favicon.ico" />
    <title>sistema</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <link href="~/css/chunk-128685a2.b59b1c38.css" rel="prefetch" />
    <link href="~/css/chunk-13beef6f.43807954.css" rel="prefetch" />
    <link href="~/css/chunk-24899f9c.cc8ce17b.css" rel="prefetch" />
    <link href="~/css/chunk-2febb655.f2e72dcb.css" rel="prefetch" />
    <link href="~/css/chunk-32051b0c.cc8ce17b.css" rel="prefetch" />
    <link href="~/css/chunk-35a23cfe.cc8ce17b.css" rel="prefetch" />
    <link href="~/css/chunk-433f01cc.cc8ce17b.css" rel="prefetch" />
    <link href="~/css/chunk-4814b602.cc8ce17b.css" rel="prefetch" />
    <link href="~/css/chunk-481961a4.cc8ce17b.css" rel="prefetch" />
    <link href="~/css/chunk-764204b5.509272a8.css" rel="prefetch" />
    <link href="~/css/chunk-7a3214fc.f2e72dcb.css" rel="prefetch" />
    <link href="~/js/about.479f3414.js" rel="prefetch" />
    <link href="~/js/chunk-0adccb93.d8bc01cf.js" rel="prefetch" />
    <link href="~/js/chunk-128685a2.aed5ec2c.js" rel="prefetch" />
    <link href="~/js/chunk-13beef6f.60670ef8.js" rel="prefetch" />
    <link href="~/js/chunk-24899f9c.114a5d94.js" rel="prefetch" />
    <link href="~/js/chunk-2d0a4dab.6b944ee9.js" rel="prefetch" />
    <link href="~/js/chunk-2d216214.40563de1.js" rel="prefetch" />
    <link href="~/js/chunk-2d216257.1eff1fbf.js" rel="prefetch" />
    <link href="~/js/chunk-2d21a434.d48cd0f7.js" rel="prefetch" />
    <link href="~/js/chunk-2febb655.57c28d01.js" rel="prefetch" />
    <link href="~/js/chunk-32051b0c.af3fd26d.js" rel="prefetch" />
    <link href="~/js/chunk-35a23cfe.957c33a6.js" rel="prefetch" />
    <link href="~/js/chunk-433f01cc.8facf345.js" rel="prefetch" />
    <link href="~/js/chunk-461b141f.e87d0901.js" rel="prefetch" />
    <link href="~/js/chunk-4814b602.22f23fa1.js" rel="prefetch" />
    <link href="~/js/chunk-481961a4.226c8416.js" rel="prefetch" />
    <link href="~/js/chunk-6830114e.46aae791.js" rel="prefetch" />
    <link href="~/js/chunk-764204b5.30f3d474.js" rel="prefetch" />
    <link href="~/js/chunk-7a3214fc.c6d420a8.js" rel="prefetch" />
    <link href="~/css/chunk-vendors.6cdaed87.css" rel="preload" as="style" />
    <link href="~/js/app.03671852.js" rel="preload" as="script" />
    <link href="~/js/chunk-vendors.7f20b20c.js" rel="preload" as="script" />
    <link href="~/css/chunk-vendors.6cdaed87.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <noscript>
        <strong>
            We're sorry but sistema doesn't work properly without
            JavaScript enabled. Please enable it to continue.
        </strong>
    </noscript>
    <div id="app"></div>
    <script src="~/js/chunk-vendors.7f20b20c.js"></script>
    <script src="~/js/app.03671852.js"></script>
    @RenderSection("Scripts", required:false)
</body>
</html>
